.timer {
    display: flex;
    flex: auto;
    min-height: 52px;
    gap: 0.5rem;
    justify-content: center;
}

.timer button {
    font-family: 'Comfortaa', cursive;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 0rem;
    border-radius: 1rem;
    font-size: 12px;
}

.pause-resume-button {
    background-color: #cef4cd;
    color: #06be00;
    cursor: pointer;
}

.pause-resume-button.timer-start {
    background-color: #cef4cd;
    color: #06be00;
    cursor: pointer;
}

.pause-resume-button.timer-stop {
    background-color: #cef4cd;
    color: #06be00;
    cursor: pointer;
}

.reset-button {
    background-color: #cde8f4;
    color: #0486bd;
    cursor: pointer;
}

.rate-button {
    background-color: #f1f1a5;
    color: #f8965a;
    cursor: pointer;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 0rem;
    border-radius: 1rem;
    font-size: 12px;
}

.time-display {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 1rem;
    border: 0rem;
    border-radius: 1rem;
    background-color: #f4cdcd;
    color: #ae1616;
    cursor: pointer;
}

.time-spent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f3cbf2;
    color: #db00d0;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.time-spent p {
    margin: 0.5rem;
}

.time-spent-title {
    display: flex;
    background-color: #db00d0;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.calendar {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background-color: #d9cdf4;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}

.calendar > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.calendar > div > button {
    display: flex;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: #bda8f000;
    color: #6231d5;
    border: none;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calendar > div > button:active {
    display: flex;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: #bea8f0;
    color: #6231d5;
    border: none;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
}
.calendar > div > div {
    display: flex;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: #bda8f000;
    color: #6231d5;
    border: none;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
}


.month {
    max-height: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.page {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Comfortaa', cursive;
}

.info-wrapper1 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 0.5rem;
    flex-grow: 1;
}

.info-wrapper2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    flex-grow: 1;
}

.info-wrapper3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
    flex-grow: 1;
}

.streak {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f7e7c2;
    color: #e6a100;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.streak p {
    margin: 0.5rem;
}

.streak-title {
    display: flex;
    background-color: #e6a100;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.notes {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    height: 100%;
    background-color: #c3f5f0;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.note-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    align-content: start;
    margin: 0 0 0.5rem 0;
}

.note-header button {
    display: flex;
    border-radius: 5rem;
    border: 0.125rem;
    border-style: solid;
    border-color: #00b4b4;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
    background-color: #c3f5f0;
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    color: #00b4b4;
}
.note-header button:active {
    display: flex;
    border-radius: 5rem;
    border: 0.125rem;
    border-style: solid;
    border-color: #c3f5f0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
    background-color: #00b4b4;
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    color: #c3f5f0;
}

.note-header p {
    display: flex;
    border-radius: 5rem;
    margin: 0px;
    border: 0rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    align-items: center;
    background-color: #00b4b4;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

.note-input {
    display: flex;
    height: 100%;
    width: calc(100% - 2rem);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    outline: none;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    font-size: 12px;

}

.tutorial-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.tutorial {
    display: flex;
    font-family: 'Comfortaa', cursive;
    background-color: #ffffff;
    border-radius: 1rem;
    width: calc(80% - 2rem);
    height: calc(80% - 3.5rem);
    padding: 2.5rem 1rem 1rem 1rem;
}

.tutorial-text {
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    overflow-y: scroll;
    align-items: center;
}

.tutorial-text img {
    width: 33%;
    border-radius: 1rem;
    justify-self: center;
}

.tutorial-close {
    position: absolute;
    display: flex;
    background-color: #ffffff;
    top: calc(10% + 0.5rem);
    right: calc(10% + 0.5rem);
    padding: 0;
    border: none;
}

.note-display-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.note-display {
    display: flex;
    font-family: 'Comfortaa', cursive;
    background-color: #ffffff;
    border-radius: 1rem;
    width: calc(80% - 2rem);
    height: calc(80% - 3.5rem);
    padding: 2.5rem 1rem 1rem 1rem;
}

.note-display-text {
    white-space: pre-line;
    overflow-y: scroll;
}

.note-display-close {
    position: absolute;
    display: flex;
    background-color: #ffffff;
    top: calc(10% + 0.5rem);
    right: calc(10% + 0.5rem);
    padding: 0;
    border: none;
}



* {
    scrollbar-width: auto;
    scrollbar-color: #cccccc #ffffff;
}


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background-color: #0000000f;
    border-radius: 10px;
    border: 6px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #f0f0f0;
    border: 4px solid #ffffff;
}

html {
    display: flex;
    height: 100%;
}

body {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .info-wrapper1 {
        flex-direction: column;
    }
    .info-wrapper2 {
        height: 50%;
    }
    .notes {
        height: 50%;
    }
    .tutorial-text img {
        width: 80%;
        border-radius: 1rem;
        justify-self: center;
    }
}

@keyframes blinking {
    0% {background-color: #f4cdcd;}
    50% {background-color: rgb(255, 43, 78);}
    100% {background-color: #f4cdcd;}
}